@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.35);
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: normal;
}

.header-colibri {
    background: linear-gradient(90.14deg, #004953 0%, #56A4AE 100%);
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.header-colibri .header-content {
    width: 1200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-colibri .navigation {
    display: flex;
    align-items: center;
    width: 556px;
    justify-content: space-between;
}

.header-colibri .navigation .logo {
    display: flex;
    align-items: center;
    color: #fff;
}

.header-colibri .navigation .logo h1 {
    font-size: 32px;
    margin: 0 0 0 14px;
}

.header-colibri .menu nav ul {
    width: 224px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.header-colibri .menu nav ul li {
    list-style: none;
}

.header-colibri .menu nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    transition: 0.25s;
}

.header-colibri .menu nav ul li a:hover {
    color: rgba(255, 255, 255, 0.644);
}

.header-colibri .headers-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-colibri {
    background: linear-gradient(269.68deg, #008C9F 23.66%, #004953 77.11%);
    width: 100%; 
    height: 33px;
    display: flex;
    justify-content: center;
    padding: 0 5px;
}

.info-colibri .info-content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.info-colibri .info-content .numbers,
.info-colibri .number-content {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
}

.info-colibri .numbers {
    width: 287px;
    justify-content: space-between;
}

.info-colibri .number-icon,
.info-colibri .number-icon svg {
    width: 11px;
    height: 13px;
    margin-right: 3px;
}

.info-colibri .number-title a{
    text-decoration: none;
    color: #fff;
    transition: .25s;
}

.info-colibri .number-title a:hover {
    color: rgba(255, 255, 255, 0.644);
}

.info-colibri .work-title {
    color: #fff;
    font-size: 12px;
}

.info-colibri .work-content {
    display: flex;
    align-items: center;
    width: 388px;
    justify-content: space-between;
}

.info-colibri .social-links {
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.info-colibri .work-icon svg {
    width: 20px;
}

.info-colibri .social-links nav ul {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.info-colibri .social-links nav ul li {
    list-style: none;
}

.info-colibri .social-links svg {
    width: 20px;
}

.info-colibri .social-links svg path {
    transition: .25s;
}

.info-colibri .social-links svg:hover path {
    fill: rgba(255, 255, 255, 0.644); 
}

.header-colibri #burger {
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.48);
    opacity: 0;
    transition: width .2s;
    transition: opacity .5s;
}

.header-colibri .burger-content {
    display: none;
    padding: 50px;
    height: 100%;
    width: 530px;
    box-shadow: -12px 0px 38px rgba(0, 0, 0, 0.25);
    background: linear-gradient(164.95deg, #56A4AE 0%, #004953 100%);
    overflow-y: auto;
    z-index: 999;
}

.header-colibri .burger-header {
    display: flex;
    align-items: center;
    color: #fff;
}

.header-colibri .menu-title {
    margin-left: 25px;
}

.header-colibri .menu-icon {
    margin-left: 6px;
}

.header-colibri #burger:target {
    opacity: 1;
    width: 100%;
}

.header-colibri #burger:target .burger-content {
    display: block;
}

.header-colibri .burger-body {
    margin: 27px 0 0 7px;
}

.header-colibri .catalog-heading {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
}

.header-colibri .catalog-heading h3 {
    margin-left: 13px;
}

.header-colibri .catalog-categories {
    display: flex;
    flex-direction: column;
    padding-top: 13px;
    margin-top: 14px;
    width: 326px;
    height: 340px;
    justify-content: space-between;
    border-top: 2px solid #56A4AE;
}

.header-colibri .category-line {
    display: flex;
    justify-content: space-between;
}

.header-colibri .category-item {
    display: flex;
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg, #004953 -63.5%, #56A4AE 100%);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    font-size: 10px;
    color: #fff;
    padding: 12px 6px;
    position: relative;
    transition: .2s;
}

.header-colibri .item-heading {
    position: absolute;
    z-index: 5;
}

.header-colibri .category-item img {
    position: absolute;
    right: 0;
    bottom: -18px;
    z-index: 1;
    transition: .2s;
}

.header-colibri .category-item:hover {
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.45);
    cursor: pointer;
    padding: 10px 6px;
}

.header-colibri .category-item:hover img {
    right: -4px;
    bottom: -24px;
}

.header-colibri .sub-category {
    font-size: 10px;
    height: 36px;
    display: flex;
    align-items: center;
    background: linear-gradient(134.64deg, #004953 -27.2%, #56A4AE 100%);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    margin-top: 13px;
    padding-left: 13px;
    color: #fff;
    text-decoration: none;
    transition: .25s;
}

.header-colibri .sub-category:hover {
    background: linear-gradient(134.64deg, #004953 -40%, #56A4AE 100%);
    
}

.header-colibri .subcategory-line {
    overflow-y: auto;
    max-height: 300px;
}

.header-colibri .back {
    display: none;
    width: 50%;
    margin-top: 13px;
    height: 36px;
    background: linear-gradient(134.64deg, #004953 -27.2%, #56A4AE 100%);
    color: #fff;
    border: none;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    transition: .25s;
}

.header-colibri .back:hover {
    box-shadow: 0px 6px 54px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.header-colibri .burger_sub-navigation {
    display: none;
    margin-top: 30px;
}

.header-colibri .burger_sub-navigation nav ul li {
    list-style: none;
    margin-top: 10px;
}

.header-colibri .burger_sub-navigation nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: .25s;
}

.header-colibri .burger_sub-navigation nav ul li a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.header-colibri .burger-search, .header-colibri .search {
    position: relative;
    display: flex;
    width: 200px;
    height: 40px;
}

.header-colibri .button-search {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.header-colibri .burger-search input, .header-colibri .search input {
    outline: none;
    border: none;
    padding: 0 27px;
    border-radius: 20px;
    background: #529FA9;
    color: #fff;
    width: 200px;
}

.header-colibri .burger-search {
    display: none;
}

.header-colibri .burger-search input::placeholder, 
.header-colibri .search input::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.header-colibri .basket {
    position: relative;
    cursor: pointer;
}

.header-colibri .basket .count {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    right: 0;
    bottom: 5px;
    width: 20px;
    height: 20px;
    background-color: #FF513A;
    border-radius: 50%;
}

@media (max-width: 870px) {
    .header-colibri .navigation .menu {
        display: none;
    }

    .header-colibri .burger_sub-navigation {
        display: block;
    }

    .header-colibri .navigation {
        width: auto;
    }
}

@media (max-width: 700px) {
    .header-colibri .info {
        height: 40px;
    }

    .header-colibri .work-content {
        width: auto;
    }

    .header-colibri .work-title, .header-colibri .work-icon {
        display: none;
    }

    /* .numbers {
        flex-direction: column;
        justify-content: center;
    } */
}

@media (max-width: 580px) {
    .header-colibri .search {
        display: none;
    }

    .header-colibri .burger-search {
        display: flex;
    }
}

@media (max-width: 425px) {
    .header-colibri .navigation .logo h1 {
        display: none;
    }
}

@media (max-width: 400px) {
    .header-colibri .catalog-categories {
        width: 280px;
    }
}

@media (max-width: 380px) {
    .header-colibri .numbers {
        flex-direction: column;
        justify-content: center;
        width: auto;
    }

    .header-colibri .burger-header .menu-icon {
        display: none;
    }
}