@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: normal;
}

header {
    width: 100%;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.35);
}

.header {
    background: linear-gradient(90.14deg, #004953 0%, #56A4AE 100%);
    max-width: 100%;
    display: flex;
    justify-content: center;
}

header .header-content {
    width: 1200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
    width: 556px;
    justify-content: space-between;
}

.navigation .logo {
    display: flex;
    align-items: center;
    color: #fff;
}

.navigation .logo h1 {
    font-size: 32px;
    margin-left: 14px;
}

.menu nav ul {
    width: 224px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.menu nav ul li {
    list-style: none;
}

.menu nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    transition: 0.25s;
}

.menu nav ul li a:hover {
    color: rgba(255, 255, 255, 0.644);
}

.headers-buttons {
    display: flex;
    width: 146px;
    align-items: center;
    justify-content: space-between;
}

.info {
    background: linear-gradient(269.68deg, #008C9F 23.66%, #004953 77.11%);
    width: 100%; 
    height: 33px;
    display: flex;
    justify-content: center;
}

.info-content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.info-content .numbers,
.number-content {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
}

.numbers {
    width: 287px;
    justify-content: space-between;
}

.number-icon,
.number-icon svg {
    width: 11px;
    height: 13px;
    margin-right: 3px;
}

.number-title a{
    text-decoration: none;
    color: #fff;
    transition: .25s;
}

.number-title a:hover {
    color: rgba(255, 255, 255, 0.644);
}

.work-title {
    color: #fff;
    font-size: 12px;
}

.work-content {
    display: flex;
    align-items: center;
    width: 388px;
    justify-content: space-between;
}

.social-links {
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.work-icon svg {
    width: 20px;
}

.social-links nav ul {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-links nav ul li {
    list-style: none;
}

.social-links svg {
    width: 20px;
}

.social-links svg path {
    transition: .25s;
}

.social-links svg:hover path {
    fill: rgba(255, 255, 255, 0.644); 
}

#burger {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.48);
    opacity: 0;
    transition: width .2s;
    transition: opacity .5s;
}

.burger-content {
    padding: 50px;
    height: 100%;
    width: 530px;
    box-shadow: -12px 0px 38px rgba(0, 0, 0, 0.25);
    background: linear-gradient(164.95deg, #56A4AE 0%, #004953 100%);
    z-index: 999;
}

.burger-header {
    display: flex;
    align-items: center;
    color: #fff;
}

.menu-title {
    margin-left: 25px;
}

.menu-icon {
    margin-left: 6px;
}

#burger:target {
    opacity: 1;
    width: 100%;
}

.burger-body {
    margin: 27px 0 0 7px;
}

.catalog-heading {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
}

.catalog-heading h3 {
    margin-left: 13px;
}

.catalog-categories {
    display: flex;
    float: right;
    flex-direction: column;
    padding-top: 13px;
    margin-top: 14px;
    width: 326px;
    height: 340px;
    justify-content: space-between;
    border-top: 2px solid #56A4AE;
}

.category-line {
    display: flex;
    justify-content: space-between;
}

.category-item {
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg, #004953 -63.5%, #56A4AE 100%);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    font-size: 10px;
    color: #fff;
    padding: 12px 6px;
    position: relative;
    transition: .2s;
}

.item-heading {
    position: absolute;
    z-index: 5;
}

.category-item img {
    position: absolute;
    right: 0;
    bottom: -18px;
    z-index: 1;
    transition: .2s;
}

.category-item:hover {
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.45);
    cursor: pointer;
    padding: 10px 6px;
}

.category-item:hover img {
    right: -4px;
    bottom: -24px;
}